<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ntu.powerranger.walkera">

    <!-- User Permission for Internet Access -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
     

    <application
        android:name=".ApplicationController"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- All Activity in the app-->
        <activity
            android:name=".SignupActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"
            android:configChanges = "orientation"
            android:screenOrientation = "portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".EmailLogin"
            android:label="@string/title_activity_email_login"
            android:configChanges = "orientation"
            android:screenOrientation = "portrait"/>

        <activity
            android:name=".EmailLoginDetail"
            android:label="@string/title_activity_email_login_detail"
            android:configChanges = "orientation"
            android:screenOrientation = "portrait"/>

        <activity
            android:name=".BMIInputActivity"
            android:label="@string/title_activity_bmiinput"
            android:configChanges = "orientation"
            android:screenOrientation = "portrait"/>

        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_main"
            android:theme="@style/AppTheme.NoActionBar"
            android:configChanges = "orientation"
            android:screenOrientation = "portrait"/>


        <!-- Background Services-->
        <service
            android:name="service.PedometerService"
            android:enabled="true" >
        </service>

        <receiver
            android:name="service.PedometerRestartBroadcastReceiver"
            android:enabled="true"
            android:exported="true"
            android:label="RestartServiceWhenStopped">
            <intent-filter>
                <action android:name="com.ntu.powerranger.walkera.ActivityRecognition.RestartSensor"/>
            </intent-filter>
        </receiver>

        <!-- Facebook Activity Block -->
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAHmWAR156B5NTS7I9xOjByayNkGWWXl70"/>

    </application>

</manifest>